<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Web1217</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿매핑 -->
  <servlet>
   <servlet-name>photo</servlet-name>
   <servlet-class>net.hb.mvc.PhotoController</servlet-class>  
  </servlet>
  <servlet-mapping>
  	<servlet-name>photo</servlet-name>
  	<url-pattern>/Photo.do</url-pattern>
  	<!-- 프로젝트이름과 구분하기위해 url패턴은 꼭 앞에 / 붙여야한다!!!! -->
  </servlet-mapping>
  
  <servlet>
   <servlet-name>delete</servlet-name>
   <servlet-class>net.hb.mvc.DeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>delete</servlet-name>
   <url-pattern>/Delete.do</url-pattern>
  </servlet-mapping>
  
  <!-- 세션시간설정 -->
  <session-config>
   <session-timeout>30</session-timeout>
  </session-config>
  
  <!-- 에러페이지설정 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error404.jsp</location>  		   	
  </error-page>
  <error-page>
  <error-code>500</error-code>
  	<location>/error/error500.jsp</location>
  </error-page> 
</web-app>